ror-stay/ror/workflows/upload-image-workflow.json
{
    "name": "Upload Image to Google Drive",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "upload-image",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                260,
                300
            ],
            "id": "webhook-upload",
            "name": "Webhook - Upload Image"
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json;\nconst buffer = Buffer.from(input.fileData, 'base64');\nreturn [{\n  json: input,\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: input.mimeType,\n      fileName: input.fileName\n    }\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                480,
                300
            ],
            "id": "decode-node",
            "name": "Decode Base64"
        },
        {
            "parameters": {
                "name": "data",
                "driveId": {
                    "__rl": true,
                    "value": "My Drive",
                    "mode": "list"
                },
                "folderId": {
                    "__rl": true,
                    "value": "1xWu_HX8d49vxF-lILEGYSXX56YDOnmTG",
                    "mode": "list",
                    "cachedResultName": "ROR-STAY-Images"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                700,
                300
            ],
            "id": "upload-drive",
            "name": "Upload to Google Drive"
        },
        {
            "parameters": {
                "operation": "share",
                "fileId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "={{ $json.id }}"
                },
                "permissionsUi": {
                    "permissionsValues": {
                        "role": "reader",
                        "type": "anyone"
                    }
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                920,
                300
            ],
            "id": "share-file",
            "name": "Share File Publicly"
        },
        {
            "parameters": {
                "jsCode": "const fileId = $input.first().json.id;\nconst url = `https://drive.google.com/uc?export=view&id=${fileId}`;\nreturn [{\n  json: {\n    url: url,\n    webViewLink: $input.first().json.webViewLink,\n    fileId: fileId\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1140,
                300
            ],
            "id": "format-url",
            "name": "Format Image URL"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1360,
                300
            ],
            "id": "respond-upload",
            "name": "Respond with URL"
        }
    ],
    "connections": {
        "Webhook - Upload Image": {
            "main": [
                [
                    {
                        "node": "Decode Base64",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Decode Base64": {
            "main": [
                [
                    {
                        "node": "Upload to Google Drive",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to Google Drive": {
            "main": [
                [
                    {
                        "node": "Share File Publicly",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Share File Publicly": {
            "main": [
                [
                    {
                        "node": "Format Image URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Image URL": {
            "main": [
                [
                    {
                        "node": "Respond with URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}